name: Unified Unit Tests & Coverage

on:
  workflow_call:
    inputs:
      dotnet_version:
        type: string
        default: "8.x"
      configuration:
        type: string
        default: "Release"
      test_solution:
        type: string
        default: ".ci/tests/UnitTests/UnitTests.sln"
      dependencies:
        type: string
        default: ""

    secrets:
      SANDBOX_READ_TOKEN:
        required: false
      ORG_READ_TOKEN:
        required: false

permissions:
  contents: write
  pull-requests: write

jobs:
  deps:
    if: ${{ inputs.dependencies != '' }}
    uses: ./.github/workflows/build-dependencies.yml
    with:
      configuration: ${{ inputs.configuration }}
      dependencies: ${{ inputs.dependencies }}
    secrets: inherit

  tests:
    needs: [deps]
    uses: ./.github/workflows/run-tests.yml
    with:
      dotnet_version: ${{ inputs.dotnet_version }}
      configuration: ${{ inputs.configuration }}
      test_solution: ${{ inputs.test_solution }}
    secrets: inherit